*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{ 
    text-decoration: none;
}

.banner-area{
    display: flex;
    margin: 0 100px 80px;
}
.banner-title{
    width: 50%;
}
/* #title-slice{
    border: 2px solid red ;
    border-width: 4px;
    border-image-slice: 1;
    height: 4px;
} */
.banner-title h1{
    padding-top: 100px ;
    font-size: 40px;
    color: #000;
    padding-bottom: 25px;
    border-left: 2px solid crimson;
}
.banner-title span{
    color:  #2874a6;
}
.banner-title p{
    font-size: 15px;
    color: #000;
    padding-bottom: 20px;
}
.banner-title .btn{
   font-size: 15px;
   font-weight: 600;
   background:  #d35400;
   padding: 10px 25px;
   border-radius: 10px;
   color: #fff;
}



.banner-images{
    width: 50%;
    
}
.banner-images img{
    width: 90%;
    
}